

.Cuerpo{
    width: 1500px;
    height: 1000px;
    margin: 0 auto;
    
}
h1{
    text-align: center;
    background-color: rgb(5, 71, 17);
    
}
header{
    height: 10px;
}
.valoh{
    height: 45px;
}

.Ventana{
height: 50%;
width: 60%;
margin: 0 auto;
background-color: rgb(217, 127, 36);
border-radius: 30px;
}
select{
    margin-left: 50px;
    font-size: 20px;
    color: black;
    
}


.planes{
    float: left;
    margin-left: 25px;
    
}
.izqui{
    float: left;
}
.campos{
    
    
    display: block ;
    padding: 1px;
    display: inline-block;

}
p{
     font-family: Arial, Helvetica, sans-serif;
     color: rgb(255, 255, 255);
     font-size: 25px; 
}


button{
    
    background-color: rgb(10, 151, 95);
    width: 152px;
    height: 55px;
    font-size: 20px;
   margin: 25px;
   margin-left: 150px;
   border-radius: 10px;
    

}

